html.content-page-horizontal-tb-ltr,
html.content-page-horizontal-tb-ltr body {
    writing-mode: horizontal-tb !important;
    direction: ltr !important;
}

html.content-page-horizontal-tb-ltr {
    width: var(--page-width) !important;
    height: var(--page-height) !important;
    column-width: var(--column-width) !important;
    column-rule: 1px solid var(--column-rule-color) !important;
    column-fill: auto;
    column-gap: var(--column-gap) !important;
    page-break-inside: avoid;
    break-inside: avoid;
    transition-property: transform;
    overflow: hidden !important;
    overflow-wrap: break-word !important;
    position: static !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    max-height: none !important;
    max-width: none !important;
}

html.content-page-horizontal-tb-ltr .without-margin-bottom {
    margin-block-end: 0 !important;
}
