html.content-scroll-vertical-lr-rtl,
html.content-scroll-vertical-lr-rtl body {
    writing-mode: vertical-lr !important;
    direction: rtl !important;
    height: 100% !important;
    width: max-content !important;
    max-height: 100% !important;
    overflow: hidden !important;
}
